body,
html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    background-color: #153f5c;
    color: white;
}

header {
    color: #BDC5C2;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    text-align: center;
    text-shadow: .1rem .1rem .1rem black;
}

img {
    height: 50%;
    width: 50%;
}



li,
a:link,
a:visited {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    list-style-type: circle;
    color: white;
}

#userButton {
    margin: 1rem;
    font-size: 1.1rem;
}